services:

  mongodb:
    image: mongo
    restart: always
    environment:
      - MONGO_INITDB_DATABASE=${DB_NAME:-reservation_db}
      - MONGO_INITDB_ROOT_USERNAME=${DB_USERNAME:-root}
      - MONGO_INITDB_ROOT_PASSWORD=${DB_PASSWORD:-password}
    volumes:
      - ./db/mongo:/data/db
      - ./initdb.d/:/docker-entrypoint-initdb.d/

  mongo_express:
    image: mongo-express
    restart: always
    ports:
      - ${MONGO_EXPRESS_PORT:-8086}:8081
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongodb
      - ME_CONFIG_MONGODB_ADMINUSERNAME=${DB_USERNAME:-root}
      - ME_CONFIG_MONGODB_ADMINPASSWORD=${DB_PASSWORD:-password}
    depends_on:
      - mongodb

  reservation_service:
    image: node:18.16
    volumes:
      - ./:/app
    working_dir: /app
    environment:
      - PORT=80
      - DB_URL=mongodb://${DB_USERNAME:-root}:${DB_PASSWORD:-password}@mongodb:27017/${DB_NAME:-reservation_db}
      - COOKIE_SECRET=${COOKIE_SECRET:-COOKIE_SECRET}
      - IMAGES_UPLOAD_PATH=${IMAGES_UPLOAD_PATH}
    ports:
      - ${RESERVATION_SERVICE_PORT:-3005}:80
    command: bash -c "npm install && npm run start:dev"
    depends_on:
      - mongodb
